In [257]:
import numpy as np
import pandas as pd
df=pd.read_csv("Cleaned_Data.csv")
df.head()

   Unnamed: 0  Year  ...  Income composition of resources  Schooling
0           0  2015  ...                            0.479       10.1
1           1  2014  ...                            0.476       10.0
2           2  2013  ...                            0.470        9.9
3           3  2012  ...                            0.463        9.8
4           4  2011  ...                            0.454        9.5

[5 rows x 21 columns]

In [258]:
df.isna().sum()

Unnamed: 0                         0
Year                               0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness  1-19 years               0
thinness 5-9 years                 0
Income composition of resources    0
Schooling                          0
dtype: int64

In [259]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
x=df[['Schooling','Income composition of resources','BMI','Diphtheria','GDP','percentage expenditure','Alcohol']]
y=df['Life expectancy']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(f'R^2score::{r2_score(y_test,y_pred)}')

R^2score::0.6335427616067979

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
x = df[
    [
        'Schooling',
        'Income composition of resources',
        'BMI',
        'Alcohol',
        'Adult Mortality',
        'HIV/AIDS',
        'thinness  1-19 years'
    ]
]
y=df['Life expectancy']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model=RandomForestRegressor(n_estimators=300,random_state=42)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
import pickle
print("R2 Score:", r2_score(y_test, y_pred))
with open('model.pkl','wb') as f:
    pickle.dump(model,f)
column_names = x.columns.tolist()
with open('model_columns.pkl','wb') as f:
    pickle.dump(column_names,f)

R2 Score: 0.9503496719957325